<body class="colour">
    <section class=" vh-500 gradient-custom" style="overflow-x:auto">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="card shadow-2-strong card-registration"
                        style="border-radius: 15px; width: 950px;align-content: center;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Invites</h3>
                            <hr>
                            <div class="container">
                                <div class="gallery" *ngFor="let invite of invites; let i = index">
                                    <a href="javascript:void(0);" (click)="onInviteSelect(i)">
                                        <img [src]="invite.photoName" alt="Cinque Terre" width="600" height="400">
                                    </a>
                                    <div class="desc">{{invite.inviteText}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br>
    </section>


</body>