<section class="vh-50 gradient-custom" style="overflow-x:auto">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Sign Up</h3>
                        <form #f="ngForm" (ngSubmit)="f.form.valid && onFormSubmit()">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName" required>First Name</label>
                                        <span class="redStar">*</span>
                                        <input type="text" pattern="[a-zA-Z ]*" name="firstName" id="firstName"
                                            #firstName="ngModel" [(ngModel)]="user.firstName"
                                            class="form-control ng-invalid form-control-lg" required />
                                        <div *ngIf="firstName.invalid && f.submitted" [hidden]="user.firstName !=''"
                                            class="alert alert-danger">
                                            First Name is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last
                                            Name</label>
                                        <span class="redStar">*</span>
                                        <input type="text" pattern="[a-zA-Z ]*" id="lastName" name="lastName"
                                            #lastName="ngModel" [(ngModel)]="user.lastName"
                                            class="form-control form-control-lg" required />
                                        <div *ngIf="lastName.invalid && f.submitted" [hidden]="user.lastName !=''"
                                            class="alert alert-danger">
                                            Last Name is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Date of Birth</label>
                                        <span class="redStar">*</span>
                                        <input type="date" name="dob" [(ngModel)]="user.dob" #dob="ngModel"
                                            class="form-control form-control-lg" id="birthdayDate" required />
                                        <div *ngIf="dob.invalid && f.submitted" [hidden]="user.dob !=''"
                                            class="alert alert-danger">
                                            Date of Birth is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender <span class="redStar">*</span></h6>


                                    <div class="form-check form-check-inline">
                                        <input [(ngModel)]="user.gender" class="form-check-input" type="radio"
                                            #gender="ngModel" name="gender" id="femaleGender" value="female" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input [(ngModel)]="user.gender" class="form-check-input" type="radio"
                                            name="gender" id="maleGender" value="male" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input [(ngModel)]="user.gender" class="form-check-input" type="radio"
                                            name="gender" id="otherGender" value="other" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>
                                    <div *ngIf="gender.invalid && f.submitted" [hidden]="user.gender !=''"
                                        class="alert alert-danger">
                                        Gender is required
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="userId">User ID</label>
                                        <span class="redStar">*</span>
                                        <input name="userId" [(ngModel)]="user.userId" type="text" id="userId"
                                            #userId="ngModel" class="form-control form-control-lg" required />
                                        <div *ngIf="userId.invalid && f.submitted" [hidden]="user.userId !=''"
                                            class="alert alert-danger">
                                            UserID is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Contact Number</label>
                                        <span class="redStar">*</span>
                                        <input name="contactNumber" pattern="[0-9]*" [(ngModel)]="user.contactNumber"
                                            #contactNumber="ngModel" type="tel" id="phoneNumber"
                                            class="form-control form-control-lg" required />
                                        <div *ngIf="contactNumber.invalid && f.submitted"
                                            [hidden]="user.contactNumber !=''" class="alert alert-danger">
                                            Contact Number is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="password">Password</label>
                                        <span class="redStar">*</span>
                                        <input name="password" [(ngModel)]="user.password" type="password" id="password"
                                            #password="ngModel" class="form-control form-control-lg" required />
                                        <div *ngIf="password.invalid && f.submitted" [hidden]="user.password !=''"
                                            class="alert alert-danger">
                                            Password is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                                        <span class="redStar">*</span>
                                        <input type="password" name="confirmPassword" id="confirmPassword"
                                            #confirmPasswordText="ngModel" class="form-control form-control-lg"
                                            [(ngModel)]="confirmPassword" required />
                                        <div *ngIf="confirmPasswordText.invalid && f.submitted"
                                            [hidden]="confirmPassword !=''" class="alert alert-danger">
                                            Confirm Password is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 mb-4 pb-2">

                                    <div class="col-lg-12">
                                        <label class="form-label">What is your nickname?<span
                                                class="redStar">*</span></label>
                                        <input name="ans1" required [(ngModel)]="user.ans1" type="text" #ans1="ngModel"
                                            class="form-control">
                                        <div *ngIf="ans1.invalid && f.submitted" [hidden]="user.ans1 !=''"
                                            class="alert alert-danger">
                                            Answer is required
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="form-label">What is your favourite colour?<span
                                                class="redStar">*</span></label>
                                        <input name="ans2" required [(ngModel)]="user.ans2" type="text" #ans2="ngModel"
                                            class="form-control">
                                        <div *ngIf="ans2.invalid && f.submitted" [hidden]="user.ans2 !=''"
                                            class="alert alert-danger">
                                            Answer is required
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="form-label">Who is your favourite actor/actress?<span
                                                class="redStar">*</span></label>
                                        <input name="ans3" required [(ngModel)]="user.ans3" type="text" #ans3="ngModel"
                                            class="form-control">
                                        <div *ngIf="ans3.invalid && f.submitted" [hidden]="user.ans3 !=''"
                                            class="alert alert-danger">
                                            Answer is required
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit"
                                    [disabled]="user.password != confirmPassword" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>