<body class="colour" style="overflow-x:auto">
    <section class="vh-500 gradient-custom" style="overflow-x:auto">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="card shadow-2-strong card-registration"
                        style="border-radius: 15px; width: 950px;align-content: center;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Confirmed Bookings Report</h3>
                            <hr>
                            <form #f="ngForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="startDate" class="form-label">From</label>
                                        <input class="form-control" name="startDate" [(ngModel)]="schedule.startDate"
                                            type="date">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="endDate" class="form-label">To</label>
                                        <input name="endDate" [(ngModel)]="schedule.endDate" class="form-control"
                                            type="date">
                                    </div>

                                    <div class="col-lg-4">
                                        <button (click)="onSubmit()" class="btn btn-primary buttonAlign">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <br>



                            <div class="container" id="content" #content>
                                <table class="table table-hover table-success table-striped">

                                    <thead class="thead-dark">

                                        <tr scope="row">
                                            <th scope="col">#</th>
                                            <th scope="col">Booking Id</th>
                                            <th scope="col">User Id</th>
                                            <th scope="col">Schedule Id</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                        </tr>
                                    </thead>

                                    <tr scope="row" *ngFor="let booking of bookingSchedules;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ booking.bookingId }}</td>
                                        <td>{{ booking.userId }}</td>
                                        <td>{{ booking.scheduleId }}</td>
                                        <td>{{booking.startDate}}</td>
                                        <td>{{booking.endDate}}</td>
                                    </tr>

                                </table>


                            </div>
                            <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
    </section>


</body>