<body class="colour">
    <section class="vh-500 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="card shadow-2-strong card-registration"
                        style="border-radius: 15px; width: 950px;align-content: center;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Schedule</h3>
                            <hr>
                            <div class="container">
                                <form #f="ngForm">
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <label for="endDate" class="form-label">Date </label>
                                            <input name="endDate" [(ngModel)]="schedule.endDate" class="form-control"
                                                type="date">
                                        </div>

                                        <div class="col-lg-6">
                                            <button (click)="onSubmit()" name="submit"
                                                class="btn btn-primary buttonAlign">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <table class="table table-hover  table-striped">

                                    <thead class="thead-dark table-success">

                                        <tr scope="row">
                                            <th scope="col">#</th>
                                            <th scope="col">Venue Id</th>
                                            <th scope="col">Schedule Id</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Facilities Available</th>
                                            <th scope="col">Max Capacity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>

                                    <tr scope="row" *ngFor="let schedule of venueSchedules;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ schedule.venueId }}</td>
                                        <td>{{ schedule.scheduleId }}</td>
                                        <td>{{ schedule.startDate }}</td>
                                        <td>{{ schedule.endDate }}</td>
                                        <td>{{ schedule.facilities }}</td>
                                        <td>{{ schedule.maxCapacity }}</td>
                                        <td> &#8377; {{ schedule.price }}</td>
                                        <td>

                                            <button class="btn  btn-outline-success" (click)="index = i;open(content)">
                                                More Info
                                            </button>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">
                                        More Info
                                    </h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">
                                            x
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form #moreInfo="ngForm">
                                        <div class="container">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Photo</th>
                                                        <th>Venue Name</th>
                                                        <th>Venue Type</th>
                                                        <th>Venue Description</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <img class="pictureView"
                                                            [src]='venueSchedules[index].photoName'>
                                                    </td>
                                                    <td>{{venueSchedules[index].venueName}}</td>
                                                    <td>{{venueSchedules[index].venueType}}</td>
                                                    <td>{{venueSchedules[index].venueDescription}}</td>
                                                </tr>
                                            </table>


                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark"
                                        (click)="modal.close('Save click');onBook(index)">
                                        Book
                                    </button>
                                </div>
                            </ng-template>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <br><br><br><br><br><br><br><br>
    </section>


</body>